[submodule "themes/themes/particle"]
	path = themes/themes/particle
	url = https://github.com/svavs/particle-zola.git
[submodule "themes/particle"]
	path = themes/particle
	url = https://github.com/svavs/particle-zola.git
